*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin: 0 auto;
}

.head-container{
    height: 200px;
    margin-bottom: 50px;
    background-color: #8C489F;
    border-bottom: 5px solid #443266;
}
.header{
    padding-top: 60px;
    text-align: center;
    color: #F1F0FF;
    font-family: Arial;
    font-size: 50px;

}