
{% extends "base.html" %}

{% block title %}Category{% endblock %}

{% block content %}
     <div>
        {% if category %}

            {% for product in category.product_set.all %}
                    <div class="product-block">
                        <img src="{{ MEDIA_URL }}{{ product.image }}"  width="220px" height="259"/>
                        <a href="{% url 'product' product.slug %}">{{ product.name }}</a>
                        <p class="product-price"><b>{{ product.get_price }}</b></p>
                        <p class="product-description">{{ product.description }}</p>
                    </div>
            {% endfor %}
        {% else %}
            <p>No categories at the moment!</p>
        {% endif %}
    </div>
{% endblock %}